In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[0,0,0,],[1,1,1],[2,2,2],[80,80,80]])

df.columns = ['a', 'b', 'c']

In [3]:
#-----------------------------------------------

def add_color(style, key, value):
    
    def color(val): 
        return "color: red" if val < value else "color: green"
    
    return style.applymap(color, subset=[key])

#-----------------------------------------------

def add_many(df, data):
    s = df.style

    for k,v in data.items():
        s = add_color(s, k, v)
        
    return s

#-----------------------------------------------

add_many(df, {'a':1, 'b':2, 'c':80})